body {
    background-color: beige;

}

h2 {
    color:blue;
    border: 2px solid black;
}

.avatar {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border:rgb(32, 109, 169) 4.55px solid;
}